td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px
}

.cartContainer {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    min-height: calc(100vh - 70px);
    padding-bottom: 150px
    
}

.cartTableBtns {
    border: none;
    font-size: 40px;
    margin-bottom: 5px;
}

.cartCheckoutBtn button {
    font-size: 50px;
    padding: 10px 20px 10px 20px
}

@media screen and (width <= 658px) {
    .cartTable {
        min-width: 80vw
    }
    .productsTable {
        width: 80vw
    }
}

@media screen and (width <= 600px) {
    .cartImage, .imgHeader {
        display: none
    }
}

@media screen and (width <= 450px) {
    .addBtn, .minusBtn {
        display: none
    }

    .productsTable td, .productsTable th {
        font-size: 1.5rem
    }
}

