.successContainer {
    position:relative;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.successInner {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loadingIcon {
    position:relative;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}