.moduleDetailsContainer {
    position:relative;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    background-color: black;
    background-size: cover;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleDetailsInnerDiv {
    background-color: white;
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10%;
}



.moduleDescription {
    width: 90%;
    text-align:left;
    margin-bottom: 20px;
}

.secondaryImageContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    border: solid black 1px;
    padding: 10px 50px 10px 50px;
    background-color: white
}

.secondaryImageContainer > img {
    cursor: pointer;
    max-width: 50% !important;
}

.moduleDetailsInnerDiv a {
    text-decoration: none;
    color: black;
    font-family: mainFont;
    font-size: 30px;
    border: solid black 1px;
    padding: 5px;
    margin: 0px 0px 10px 0px
}

.moduleDetailsInnerDiv a:hover {
    background-color: rgb(193, 224, 235);
}

.mainImage {
    background-color: white;
    border: solid black 1px;
    padding: 15px 60px 15px 60px;
    min-height: 65%;
    max-height: 65%;
}

.imagesDiv {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 1px;
    min-width: 50%;
    background-color: rgb(193, 224, 235);
    height: calc(100vh - 112px)
}

.detailsContainer > p {
    line-height: 20px;
}

.detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.addToCartBtn {
    margin-bottom: 5vh
}



@media screen and (max-width: 950px) {
    .moduleDetailsContainer{
        height: auto;
    }

    .moduleDetailsInnerDiv {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }  

    .mainImage {
        max-width: 40%;
    }

    .imagesDiv {
        min-width: 100%
    }

    .detailsContainer div {
        padding-left: 5%
    }
}

@media screen and (max-width: 540px) {
    .moduleDetailsInnerDiv {
        min-width: 100vw;
    }
}

@media (max-width: 450px) {
    

    .mainImage {
        max-height: 30vh;
    }

    .imagesDiv {
        width: 100%
    }
}

@media (max-width: 376px) {
    .mainImage {
        max-height: 30vh;
    }

    .imagesDiv {
        width: 100%
    }
}