.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white; 
    height: 70px;
    width: 100vw;
    margin: 0;
    top: 0;
    position: fixed;
    z-index: 9998; 
    border-bottom: solid white 0.5px;
  }

  .navBtn {
    color: white;
    font-family: mainFont;
    text-decoration: none;
    font-size: 30px
  }

  .navBtn:hover {
    color: rgb(193, 224, 235)
  }

  .modulesBtn {
    font-size: 40px;
  }

  .dashboardBtn {
    font-size: 30px;
  }

  .navMiddle {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 15%;
}

  .navMiddleLoggedOut {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeBtn {
    flex: 1;
    position: relative;
  }
  
  .homeBtn a {
    color: white;
    font-family: mainFont;
    text-decoration: none;
    font-size: 4rem;
    padding: 0px 12px 2px 12px;
    border: solid white 2px;
    margin: 20%
  }
  
  .homeBtn a:hover {
    border: solid rgb(193, 224, 235) 2px
  }

  .cartSigninLogout {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logoutBtn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 1px;
    padding: 3px 10px 3px 10px;
    font-family: mainFont;
    font-size: 25px;
    text-decoration: none;
  }
  
  .logoutBtn:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .signinBtn {
    background-color: black;
    color: white;
    border: solid white 1px;
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    font-family: mainFont;
    font-size: 25px;
    text-decoration: none;
  }
  
  .signinBtn:hover {
    background-color: rgb(230, 230, 230);
    color: black
  }
  
  .cartBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 0px 5px 0px 5px;
    font-family: mainFont;
    font-size: 30px;
    text-decoration: none;
  }
  
  .cartBtn:hover {
    cursor: pointer;
  }

  .navBarMiddleInnerLink {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .navMiddleHamburgerLoggedOut, .navMiddleHamburger {
      display: flex;
      position: absolute;
      top: 70px;
      width: 100vw;
      background-color: black;
      border: white solid 1px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .navMiddleHamburgerLoggedOut .navBarMiddleInnerLink {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburgerIconContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburgerIcon, .closeIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .profileMenuContainer {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    min-height: 200px;
    background-color: black;
    border: white solid 1px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .profileMenuContainer .logoutBtnContainer {
    margin-bottom: 20px;
  } 

  .logoutBtnContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 658px) {
      .hamburgerIconContainer {
        display: none;
      }
  }

  @media screen and (max-width: 658px) {
    .navMiddle, .navMiddleLoggedOut {
      display: none;
    }
}

@media screen and (min-width: 658px) {
  .navMiddleHamburgerLoggedOut, .navMiddleHamburger {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .homeBtn a {
    font-size: 3rem;
  }
}