@font-face {
  font-family: 'mainFont';
  src: url('../public/novamono.ttf');
}

.app {
  background-color: black;
  width: 100vw;
  height: 100vh
}

h1 {
  font-family: mainFont;
  font-size: 55px;
}

h2 {
  font-family: mainFont;
  font-size: 45px;
}

h3 {
  font-family: mainFont;
  font-size: 50px;
}

p {
  font-family: mainFont;
  font-size: 30px;
}

.socialsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw
}

.socialsContainer > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsContainer img:hover {
  border: solid rgb(193, 224, 235) 2px;
  border-radius: 50%;
  padding: 2px;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/modular-system-2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px
}

.homepage a {
  border: solid black 2px;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: mainFont;
  font-size: 30px;
}

.homepage a:hover {
  background-color: white;
}

.modulesListContainer {
  position: relative;
  top: 70px;
  height: calc(100vh - 75px);
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}


.loadingIcon {
  position:relative;
  top: 70px;
  height: 80vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moduleCardContainer {
  border: solid black 1px;
  background-color: white;
  min-width: 23%;
  height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.moduleCardContainer a, button {
  background-color: white;
}

.moduleCardContainer:hover {
  background-color: rgb(193, 224, 235);
}

.moduleCardInner {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 63vh;
  padding: 20px;
  margin-top: 0;
  
}

.go4109123758 {
    font-family: mainFont;
    font-size: 30px;
    z-index: 9999;
}



.moduleCardInner img:hover {
  cursor: pointer;
}

.addAndDetailsBtns a {
  text-decoration: none;
  color: black;
  font-family: mainFont;
  font-size: 30px;
  border: solid black 1px;
  padding: 5px;
  margin: 0px 0px 10px 0px;

}

.moduleCardInner img {
  margin: 0;
  padding: 20px;
  border: solid black 1px;
  background-color:rgb(243, 241, 241);
  height: 32vh
}

.moduleCardInner h2 {
  margin: 0
}

.addAndDetailsBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5vh;
  margin-top: -20px;
  margin-bottom: 30px;
}




.dashboardContainer {
  position:relative;
  top: 70px;
  width: 100vw;
  height: fit-content;
  background-color: white;
  background-size: cover;
  margin-bottom: 100px;
}



.addModuleContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw
}



.addModuleFormContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
  
}

.addModuleForm {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

input:focus {
  outline: none;
  border:1px solid rgb(57, 56, 56);
  box-shadow: 0 0 10px #719ECE;
}

.signupFormRed:focus {
  outline: none !important;
  border:1px solid rgb(160, 10, 10);
  box-shadow: 0 0 10px #eb7c69;
}

.signupFormRed {
  border: solid red 1px

}




.dashboardModule {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 100vw
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw
}

.dashboardModuleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 50vw;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px
}



.dashboardModuleContainer table {
  font-family: mainFont;
  font-size: 25px;
  line-height: 20px;
  border-collapse: collapse;
}

.dashboardModuleContainer td, th {
  border: 1px solid black;
}

.dashboardModuleContainer summary {
  font-family: mainFont;
  font-size: 30px;
}

details > summary {
  list-style: none;
}

.dashboardBtns a {
  text-decoration: none;
  color: black;
  font-family: mainFont;
  font-size: 20px;
  border: solid black 1px;
  padding: 3.5px 5px 3.5px 5px;
  margin: 0px 0px 10px 0px
}

.dashboardBtns button {
  text-decoration: none;
  color: black;
  background-color: white;
  font-family: mainFont;
  font-size: 20px;
  border: solid black 1px;
  padding: 0px 5px 0px 5px;
  margin: 5px 5px 0px 5px
}

.addModuleBtn a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-family: mainFont;
  font-size: 40px;
  border: solid black 1px;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 0px
}

.addModuleBtn a:hover {
  background-color: rgb(193, 224, 235);
}

.outOfStock {
  pointer-events: none;
  background-color: black !important; 
  color: white !important
}

.easterEgg {
  position: relative;
  top: 70px;
  height: calc(100vh - 75px);
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.easterEgg video {
  width: 100vw;
  height: calc(100% - 155px)
}