.dashboardModuleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 50vw;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px
}
  
.dashboardModuleContainer table {
    font-family: mainFont;
    font-size: 25px;
    line-height: 20px;
    border-collapse: collapse;
}

.dashboardModuleContainer td, th {
    border: 1px solid black;
}

.dashboardModuleContainer summary {
    font-family: mainFont;
    font-size: 30px;
}

.summary {
    cursor: pointer;
}

.dashboardModuleContainer a, button {
    cursor: pointer;
  }
  
.dashboardModuleContainer a:hover, .dashboardModuleContainer button:hover {
    background-color: rgb(193, 224, 235);
}

.dashboardCard {
    width: 100%;
    border-bottom: solid black 1px;
    padding-bottom: 5px;
}

@media screen and (max-width: 820px){
    .dashboardModuleContainer {
        width: 80%
    }
}